# ========================
# ENV (secret)
# ========================
.env
*.env

# ========================
# Nextcloud data
# ========================
html/data/


# Nếu muốn giữ config mẫu:
#!html/config/
#!html/config/config.sample.php

# ========================
# Database
# ========================
db/
mysql/
*.sql

# ========================
# Redis
# ========================
redis/

# ========================
# External mounts
# ========================
mnt/
nhansu/

# ========================
# Logs & temp
# ========================
*.log
*.cache
*.tmp
*.bak

# ========================
# OS / editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
